
<ul>
    <button><li>World</li></button>
    <button><li>San Francisco</li></button>
    <button><li>New York</li></button>
    <button><li>Bootcamp Prep</li></button>
    <button><li>Jumpstart</li></button>
    <button><li>Online</li></button>
    <button><li>Marketing</li></button>
    <button><li>Sales</li></button>
    <button><li>TalentMatch</li></button>
    <button><li>Alumni</li></button>
    <button><li>All</li> </button>
</ul>

